/* This is the rule order that i use */
/* rule order{
    animation: ;
    background-color: ;
    color: ;
    font: ;
    width: ;
    height: ;
    margin: ;
    border: ;
    padding: ;
    position: ;
    text-align: ;
    z-index: ;
} */




body{
    color:rgb(167, 167, 167);
    background-color: #1f1d20;
}
html{
    scroll-behavior: smooth;
}
/*\Keeps side navigation to the left and has limited width */
.side--nav-bar{
    animation: border 5s;
    animation-delay: 4.6s;
    animation-iteration-count:infinite;
    background: #1f1d20;
    background: linear-gradient(204deg, rgba(0,0,0,1) 17%, #2c292e 49%, #2c2a2e 50%, black 95%);
    color: #888;
    text-align: center;
    border-right: 5px solid black;
    position: fixed;
    width:25%;
    height:100%;
    z-index: 2;
    padding-top: 5%;
}
.side--nav-bar p{
    text-align: center;
    font-size: 12px;
}
.side--nav-bar ul{
    list-style: none; 
    text-align: center;
    font-size: 32px;
    line-height: 2.5;
    margin-left: -40px;
}
.side--nav-bar a{
    color:rgb(167, 167, 167);
    transition: all 0.5s ease-out;
}
/*\This is the glowing bar in between the side nav and the wrapper */
@keyframes border{
    0%{border-right:5px solid #1f1d20}
    50%{border-right:5px solid rgb(70, 70, 70)}
    100%{border-right:5px solid #1f1d20}
}
/*!This is the glowing bar in between the side nav and the wrapper */
/*!Keeps side navigation to the left and has limited width */

/*\ the wrapper holds the content to the right of the page until it reaches mobile */
.wrapper{
    margin-left: 25%;
    width: 75%;
    padding-bottom: 2%;
    background-color: #1f1d20;
    background-color: linear-gradient(16deg, #1f1d20 4%, #1f1d20);
    text-align: center;
    z-index: 1;
}
/*!holds content to the right of the page until it reaches mobile */

/*\the animation that causes the content to have slide-in effect */
main{
    animation: slide-in 6s;
    animation-delay: 0.4s;
    margin-left: 0%;
    width: 100%;
}
@keyframes slide-in{
    0%{margin-left:-200%;
        opacity: 0.25;
    }
    50%{opacity: 0.75;}
    100%{margin-left:0%;
        opacity: 1;
    }
}
/*!the animation that causes the content to have slide-in effect */

.row-padding{
    padding-top: 40px;
}
/*\Name displayed of about of screens width of 768px and above */
#my-name{
    font-size: 32px;
    color:rgb(211, 206, 206);
}
/*!Name displayed of about of screens width of 768px and above */

/*\Name displayed of about of screens width of 767px and below */
.my-name{
    border-bottom: 2px solid #888;
    padding:5px 25px 0px 25px;
    font-size: 32px;
    color:rgb(211, 206, 206);
}
/*!Name displayed of about of screens width of 767px and below */

/*\Linkden and Github links */
.socials{
    font-size: 32px;
    margin-left: -40px;
}
.social-link{
    margin-left: 40px;
    display: inline;
    transition: all 0.3s ease-out;
    color: #888;
    text-shadow: 3px 3px 3px black;
}
.social-link:hover{
    font-size:40px;
    text-shadow: 5px 5px 5px rgb(119, 119, 119);
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #ccc;
    -webkit-text-fill-color: #888;
    transition: all 0.3s ease-in-out;
}
/*!Linkden and Github links */

/*\Picture of Deonte */
.nav-img{
    border-radius: 50%;
    height: 35%;
}
/*!Picture of Deonte */

/*\Navagation for screens that have width of 767px and below ONLY */
.nav-links{
    text-shadow: 3px 3px 3px black;
}
.nav-links:hover{
    text-decoration: none;
    font-size:38px;
    text-shadow: 5px 5px 8px rgb(119, 119, 119);
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #ccc;
    -webkit-text-fill-color: #888;
    transition: all 0.5s ease-in-out;
}
nav{
    display: inline;
    background-color: #181818;
    position: fixed;
    width: 100%;
    padding-top: 5px;
    box-shadow: 5px 15px 20px #000;
    z-index: 5;
}
.mobile-nav{
    list-style: none;
}
.mob-nav-links{
    display: inline;
    font-size: 24px;
}
.mob-link{
    padding: 0 10px;
    color:rgb(167, 167, 167);
}
/*!Navagation for screens that have width of 767px and below ONLY */

header{
    background-color: #1f1d20;
    box-shadow: 5px 15px 20px rgb(15,15,15);
}
h1{
    font-size: 36px;
    font-style: oblique;
    animation: slow 6s;
    color:gb(221, 221, 221);
    font: bolder;
    text-shadow: 5px 5px 5px black;   
}
h2{
    font-size: 32px;
    text-shadow: 6px 6px 6px black;
}
.about-info{
    font-size: 24px;
    color:#888;
    text-shadow: 3px 3px 3px black;
}
@keyframes slow{
    0%{
        margin-left:-100%;
        opacity: 0;
        }
        50%{
            opacity: 0.1;
        }   
    100%{
        opacity: 1;
        }
}
.bgi-key{
    width: 100%;
    height: 150px;
    background-color: black;
    background-image: url(https://media.giphy.com/media/DxOMUVFwaBXEI/giphy-downsized.gif);
    background-attachment: fixed;
}
/*\border for all pictures except the picture of me */
.pic-border{
    border: 5px solid black;
    border-radius: 15px;
    box-shadow: 18px 18px 18px rgb(10, 10, 10);
}
/*!border for all pictures except the picture of me */

.project-name{
    font-size: 24px;
    color:#eee;
    text-shadow: 8px 6px 6px black;
}

/*\extended bottom border to put content in it */
.pro-bord{
    padding-bottom: 10%;
    position: relative;
}
/*!extended bottom border to put content in it */

/*\links to projects */
.project-link span{
    transition: all 0.5s ease-in;
    position: absolute;
    bottom: 3%;
    left: 20%;
    font-size: 18px;
    color:rgba(255, 255, 255, 0.877);
}
/* hover animation */
.project-link span:hover{
    transition: all 0.5s ease-out;
    font-size: 20px;
    text-shadow: 4px 4px 7px rgb(119, 119, 119); 
}
/*!links to projects */

/*\links to code */
.project-code span{
    transition: all 0.5s ease-in;
    position: absolute;
    bottom: 3%;
    left: 70%;
    font-size: 18px;
    color:rgba(255, 255, 255, 0.877);
}
/* hover animation  */
.project-code span:hover{
    transition: all 0.5s ease-out;
    font-size: 20px;
    text-shadow: 4px 4px 7px rgb(119, 119, 119); 
}
/*!links to code */

/* how i changed the way content items are positioned of the page for different screen sizes */
@media (max-width:767px){
    .side--nav-bar{
        visibility: hidden;
    }
    .wrapper{
        margin:auto;
        width: 100%;
    }
    header{
        width: 100%;
    }
    h1{
        margin-top: 70px;
        font-size: 24px;
    }
    .project-name{
        font-size: 18px;
    }
    .project-link span{
        transition: all 0.5s ease-out;
        position: absolute;
        font-size: 14px;
        bottom: 2%;
        left: 10%;
        border-radius: 15px;
    }
    .project-link:hover span{
        transition: all 0.5s ease-in-out;
        font-size: 16px;
        text-shadow: 4px 4px 7px rgb(119, 119, 119); 
        color:rgba(192, 192, 192, 0.678);
    }
    .project-code span{
        transition: all 0.5s ease-out;
        position: absolute;
        font-size: 14px;
        bottom: 2%;
        left: 70%;
        border-radius: 15px;
    }
    .project-link:hover code{
        transition: all 0.5s ease-in-out;
        font-size: 16px;
        text-shadow: 4px 4px 7px rgb(119, 119, 119); 
        color:rgba(192, 192, 192, 0.678);
    }
    
}
@media (max-width:1039px){
    .pro-hide{
        visibility: hidden;
    }
}
