body{
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(211, 211, 211);
    -webkit-text-fill-color: rgb(148, 147, 147);
    background-color: #1f1d20;
}
html{
    scroll-behavior: smooth;
}
.wrapper{
    margin-left: 25%;
    width: 75%;
    padding-bottom: 2%;
    background-color: #1f1d20;
    background-color: linear-gradient(16deg, #1f1d20 4%, #1f1d20);
    text-align: center;
    z-index: 1;
}
main{
    animation: slide-in 4s;
    animation-delay: 0.1s;
    margin-left: 0%;
    width: 100%;
}
@keyframes slide-in{
    0%{margin-left:-200%}
    100%{margin-left:0%}
}
.side--nav-bar{
    animation: border 2.5s;
    animation-iteration-count:infinite;
    background: #1f1d20;
    background: linear-gradient(204deg, rgba(0,0,0,1) 17%, #2c292e 49%, #2c2a2e 50%, black 95%);
    color: #888;
    text-align: center;
    border-right: 5px solid black;
    position: fixed;
    width:25%;
    height:100%;
    z-index: 2;
}
@keyframes border{
    0%{border-right:5px solid #1f1d20}
    50%{border-right:5px solid #2a2a2a}
    100%{border-right:5px solid #1f1d20}
}
@media (min-width:768px){
    .side--nav-bar{
        padding-top: 10%;
    }
}
@media (max-width:760px){
    .side--nav-bar{
        visibility: hidden;
    }
    .wrapper{
        margin-left: 0%;
        width: 100%;
    }
}
.row-padding{
    padding-top: 40px;
}
.my-name{
    font-size: 32px;
    -webkit-text-fill-color: transparent;
}
.socials{
    font-size: 32px;
    margin-left: -40px;
}
.social-link{
    margin-left: 40px;
    display: inline;
    transition: all 0.3s ease-out;
}
.social-link:hover{
    font-size:40px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #ccc;
    -webkit-text-fill-color: #888;
    transition: all 0.3s ease-in-out;
}
.side--nav-bar ul{
    list-style: none; 
    text-align: center;
    font-size: 32px;
    line-height: 2.5;
    margin-left: -40px;
}
.side--nav-bar a{
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #aaa;
    -webkit-text-fill-color: #666;
    transition: all 0.5s ease-out;
}
.nav-img{
    border-radius: 50%;
    height: 35%;
}

.nav-links:hover{
    text-decoration: none;
    font-size:38px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #ccc;
    -webkit-text-fill-color: #888;
    transition: all 0.5s ease-in-out;
}
header{
    background-color: #1f1d20;
    box-shadow: 5px 15px 20px rgb(15,15,15);
}
h1{
    font-size: 36px;
    font-style: oblique;
    animation: slow 2.5s;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:rgb(221, 221, 221);
    -webkit-text-fill-color: transparent;
         
}
@keyframes slow{
    0%{ font-size: 36px;
        margin-left:-100%;
        opacity: 0.2;
        }
        50%{
            opacity: 0.6;
        }   
    100%{   font-size: 36px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color:rgb(221, 221, 221);
        -webkit-text-fill-color: transparent;
        
        }
}

.pic-border{
    border: 5px solid black;
    border-radius: 15px;
    box-shadow: 18px 18px 18px rgb(10, 10, 10);
}
.pro-bord{
    padding-bottom: 10%;
    position: relative;
}

.project-link span{
    transition: all 0.5s ease-out;
    position: absolute;
    bottom: 5%;
    left: 40%;
    border-radius: 15px;
    color:rgba(189, 189, 189, 0.356);
}
.project-link span:hover{
    transition: all 0.5s ease-in-out;
    font-size: 24px;
    bottom: 2%;
    left: 35%;
    color:rgba(192, 192, 192, 0.678);

}

.bgi-mac{
    width: 100%;
    height: 150px;
    background-color: black;
    background-image: url(https://media.giphy.com/media/DxOMUVFwaBXEI/giphy-downsized.gif);
    background-attachment: fixed;
}
